.firebaseui-card-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.firebaseui-idp-list {
    list-style: none;
}

.firebaseui-list-item {
    height: 3rem;
}

.firebaseui-idp-icon {
    height: 3rem;
}

.firebaseui-idp-text-short {
    display: none;
}

.firebaseui-idp-icon-wrapper {
    margin-right: .5rem;
}

.firebaseui-idp-button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}